<ion-view view-title="小熊家的宝贝">
<ion-nav-buttons side="left">
  <a class="button" href="" nav-clear>leftButton</a>
</ion-nav-buttons>
  <ion-content class="padding">
    <ion-slide-box show-pager="true" id="tour-view">
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ind in index" type="item-text-wrap" href="#/tab/details/{{ind.id}}">
        <ion-slide>
          <img ng-src="{{index.slide}}" style="width: 98%; height: 100px">
        </ion-slide>
      
      </ion-item>-->
      <ion-slide ng-repeat="chat in chats" type="item-text-wrap">
          <img ng-src="{{chat.face}}" style="width: 100%; height: 100px">
      </ion-slide>
      
    </ion-slide-box>
    
  <ion-list>
    <ion-list-header>
      最新推荐
    </ion-list-header>
    <ion-item ng-repeat="aGood in goods" type="item-text-wrap">
          <a class="a_img" href="">
            <img ng-src="{{aGood.picture}}" style="width:100%;"/>
          </a>
          <div class="bot">
            <h5>{{aGood.name}}</h5>
            <pre>{{aGood.description}}</pre>
          </div>
          <div class="bot">
            <div class="for-right">
               <i class="icon ion-ios-cart-outline"></i>

            </div>
            <div class="for-left">
              <h4><a href="" title="{{aGood.price}}" style="color: #0b2c88;text-decoration: none;">￥{{aGood.price}}</a></h4>
              
            </div>
          </div>
    </ion-item>
        
  </ion-list>
  

  </ion-content>
</ion-view>
