<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Classify Tab -->
  <ion-tab title="分类" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/classify">
    <ion-nav-view name="tab-classify"></ion-nav-view>
  </ion-tab>

  <!-- ShoppingCart Tab -->
  <ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart-outline" href="#/tab/shoppingCart">
    <ion-nav-view name="tab-shoppingCart"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的熊" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
